<form asp-controller="Employee" asp-action="UploadFile" enctype="multipart/form-data" method="post">
    <input type="file" name="myfile" value="Choose File" /><br />
    <input type="submit" value="Submit" />
</form>